:root {
    --colors: on;

    --text-0: var(--bg-3);
    --text-1: #d3c6aa;
    --text-2: #e67e80;
    --text-3: #d3c6aa;
    --text-4: #a7c080;
    --text-5: #928374;

    --bg-1: #3c4841;
    --bg-2: #323d3f;
    --bg-3: #2d353b;
    --bg-4: #232a2e;
    --hover: rgba(255, 255, 255, 0.05);
    --active: rgba(255, 255, 255, 0.08);
    --active-2: rgba(255, 255, 255, 0.12);
    --message-hover: rgba(255, 255, 255, 0.03);

    --accent-1: var(--green-1);
    --accent-2: var(--green-2);
    --accent-3: var(--green-3);
    --accent-4: var(--green-4);
    --accent-5: var(--green-5);
    --accent-new: var(--orange-2);
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent);
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent);
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent);
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent);

    --online: var(--green-2);
    --dnd: var(--red-2);
    --idle: var(--yellow-2);
    --streaming: var(--blue-2);
    --offline: var(--text-5);

    --border-light: rgba(255, 255, 255, 0.04);
    --border: rgba(255, 255, 255, 0.08);
    --button-border: rgba(255, 255, 255, 0.1);

    --red-1: #e67e80;
    --red-2: #e67e80;
    --red-3: #e67e80;
    --red-4: #cc6666;
    --red-5: #aa5555;

    --green-1: #a7c080;
    --green-2: #a7c080;
    --green-3: #a7c080;
    --green-4: #9ec070;
    --green-5: #8eb05f;

    --blue-1: #7fbbb3;
    --blue-2: #7fbbb3;
    --blue-3: #7fbbb3;
    --blue-4: #6ba8a2;
    --blue-5: #579690;

    --yellow-1: #dbbc7f;
    --yellow-2: #dbbc7f;
    --yellow-3: #dbbc7f;
    --yellow-4: #c7aa6d;
    --yellow-5: #b3995b;

    --orange-1: #e69875;
    --orange-2: #e69875;
    --orange-3: #e69875;
    --orange-4: #d1876d;
    --orange-5: #bd7654;

    --purple-1: #d699b6;
    --purple-2: #d699b6;
    --purple-3: #d699b6;
    --purple-4: #c488a3;
    --purple-5: #b07790;
}
