@use 'sass:color';
* {
  --ytmusic-player-page-background: #2E3440 !important;
  --ytmusic-player-bar-background: #2E3440 !important;
  --paper-progress-active-color: #88C0D0;
  --iron-icon-fill-color: #ECEFF4 !important;
  --ytmusic-play-button-loading-indicator-color: #ECEFF4 !important;
  --paper-slider-knob-color: #ECEFF4 !important;
  --ytmusic-nav-bar: #2E3440 !important;
  --ytmusic-detail-header: #2E3440 !important;
  --ytmusic-brand-background-solid: #2E3440 !important;
  --yt-spec-menu-background: #2E3440 !important;
  --ytmusic-play-button-background-color: #ECEFF4 !important;
  --ytmusic-play-button-icon-size: 32px !important;
  --paper-toggle-button-checked-button-color: #88C0D0 !important;
  --paper-input-container-focus-color: #88C0D0 !important;
  --paper-dialog-background-color: #88C0D0 !important;
  --ytmusic-search-border: #4C566A !important;
  --ytmusic-search-background: #2E3440;
  --yt-spec-brand-background-primary: #2E3440 !important; }

.category-menu-item.iron-selected.ytmusic-settings-page {
  background-color: #3B4252 !important; }

.category-menu-item.ytmusic-settings-page:focus:not(.iron-selected) {
  background-color: #3B4252 !important; }

.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text {
  color: #88C0D0 !important; }
  .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text:hover {
    background-color: rgba(136, 192, 208, 0.8); }

ytmusic-dialog {
  background-color: #2E3440 !important; }

tp-yt-paper-toggle-button[checked]:not([disabled]) .toggle-bar.tp-yt-paper-toggle-button {
  background-color: rgba(136, 192, 208, 0.6) !important; }

yt-icon.icon.ytmusic-play-button-renderer {
  --iron-icon-fill-color: #3B4252 !important; }

.content-wrapper.ytmusic-play-button-renderer {
  color: #ECEFF4 !important; }

ytmusic-play-button-renderer:hover .content-wrapper.ytmusic-play-button-renderer, ytmusic-play-button-renderer:focus .content-wrapper.ytmusic-play-button-renderer {
  background: rgba(236, 239, 244, 0.8) !important; }

.content-wrapper.ytmusic-play-button-renderer yt-icon {
  --iron-icon-fill-color: #2E3440 !important; }

/*Unique to the desktop ytmdesktop app*/
i.material-icons
 {
  color: #88C0D0 !important; }

i.material-icons:hover {
  color: #88C0D0 !important; }

/*Unique to the desktop ytmdesktop app*/
body {
  background: #2E3440 !important; }

#guide-wrapper {
  background: #2E3440 !important; }

ytmusic-guide-entry-renderer tp-yt-paper-item {
  background-color: transparent !important; }
  ytmusic-guide-entry-renderer tp-yt-paper-item:hover {
    background-color: #434C5E; }

/*hide the youtube logo at the top left*/
.yt-simple-endpoint[aria-label="Home"] {
  visibility: hidden !important; }

ytmusic-nav-bar {
  background-color: #2E3440 !important;
  border-bottom: 1px solid #3B4252 !important; }

div.background-gradient.style-scope.ytmusic-browse-response {
  /* background-repeat: no-repeat; */
  background-image: linear-gradient(to bottom, #2E3440, #2E3440) !important; }

/* My styles */
/* Song progress bar (color and smooth animation) */
#primaryProgress {
  transition: transform 0.3s linear !important; }

#sliderKnob {
  transition: all 0.3s linear !important; }

/* Side bar toggle animation */
#contentContainer,
#guide {
  transition: all 0.3s ease-in-out !important; }

#mini-guide {
  animation: slide-in 150ms ease-in-out !important;
  border-right: 1px solid #3B4252; }

ytmusic-app-layout:not([is-mweb-modernization-enabled]) > [slot="player-page"] {
  transition-property: all !important; }

#mini-guide-background {
  transition: all 150ms ease-in-out !important; }

@keyframes slide-in {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
/* Music/Video buttons */
ytmusic-av-toggle[playback-mode="ATV_PREFERRED"] .song-button.ytmusic-av-toggle {
  background-color: #ECEFF4 !important;
  color: #2E3440 !important; }

ytmusic-av-toggle[playback-mode="OMV_PREFERRED"] .video-button.ytmusic-av-toggle {
  background-color: #ECEFF4 !important;
  color: #2E3440 !important; }

/* Auto-play toggle */
ytmusic-chip-cloud-chip-renderer[chip-style="STYLE_TRANSPARENT"] a.ytmusic-chip-cloud-chip-renderer {
  /* background: #88C0D0 !important; */
  color: #2E3440 !important; }

/* Toast */
tp-yt-paper-toast {
  background-color: #2E3440 !important;
  color: #88C0D0 !important; }

/* Buttons icon override */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled yt-icon, ytmusic-chip-cloud-chip-renderer[chip-style=STYLE_TRANSPARENT] a.ytmusic-chip-cloud-chip-renderer yt-icon {
  --iron-icon-fill-color: #2E3440 !important; }

@media (max-width: 935px) {
  ytmusic-app[is-bauhaus-sidenav-enabled] tp-yt-app-drawer.ytmusic-app {
    z-index: 7 !important; }

  ytmusic-guide-renderer[is-mweb-player-bar-modernization-enabled][player-visible] #sections.ytmusic-guide-renderer {
    max-height: 100% !important; } }
ytmusic-chip-cloud-chip-renderer[enable-bauhaus-style][is-selected]:not(.iron-selected) a.ytmusic-chip-cloud-chip-renderer {
  background: #88C0D0 !important; }

ytmusic-search-box[is-bauhaus-sidenav-enabled]:not([opened]):not([has-query]) .search-box.ytmusic-search-box {
  background-color: rgba(59, 66, 82, 0.8) !important; }

ytmusic-search-box[has-query] .search-container.ytmusic-search-box, ytmusic-search-box[opened] .search-container.ytmusic-search-box {
  box-shadow: none !important; }

/*# sourceMappingURL=yt-music.css.map */
